/*CSS specific to the lab9.html page*/

body {
   width: 100%;
   height: 100%; 
   overflow: scroll;
   background-color: #9E01FB;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover; 
}
